{{ define "footer" }}
      <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top" style="min-width: 768px">
            <div class="row">
              <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2021</small>
              </div>
              <div class="col-6 col-md">
                <h5>微服务</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">API 网关 / BFF</a></li>
                  <li><a class="text-muted" href="#">gRPC / Restful</a></li>
                  <li><a class="text-muted" href="#">分布式服务监控</a></li>
                  <li><a class="text-muted" href="#">分布式事务</a></li>
                  <li><a class="text-muted" href="#">服务分层设计</a></li>
                  <li><a class="text-muted" href="#">日志</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>服务网格</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Istio / KongMesh / NginxMesh</a></li>
                  <li><a class="text-muted" href="#">Sidecar / Envoy / Proxy</a></li>
                  <li><a class="text-muted" href="#">流控 / 灰度发布</a></li>
                  <li><a class="text-muted" href="#">熔断 / 故障注入</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Cloud Native</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Kubernetes</a></li>
                  <li><a class="text-muted" href="#">Docker</a></li>
                </ul>
              </div>
            </div>
        </footer>
      </div>
    </div>

  </div>
</div>

</body>
</html>

{{end}}