{{template "header"}}
<div class="card mb-4 shadow-sm">
    <table class="table table-bordered">
      <caption class="col-6 offset-3">
        <a href="/user/add" type="button" class="btn btn-sm btn-block btn-outline-primary">
          添加用户
        </a>
      </caption>
      <caption class="col-6 offset-3">
      每页展示{{ .pages.PageSize }}条记录
      第{{ .pages.CurrentPage }}页
      共{{ .pages.TotalRows }}条记录
      共{{ .pages.TotalPages }}页
      {{ if gt .pages.CurrentPage 1 }}
      <a href="/users?currentpage={{ .pages.PreCurrentPage}}">上一页</a>
      {{ end }}

      {{ if lt .pages.CurrentPage .pages.TotalPages }}
      <a href="/users?currentpage={{ .pages.NextCurrentPage }}">下一页</a>
      {{ end }}
      </caption>
      <thead>
        <tr>
          <th>编号</th>
          <th>姓名</th>
          <th>邮箱</th>
          <th>角色</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {{range $i, $user := .users}}
        <tr>
          <td>{{ $user.ID }}</td>
          <td>{{ $user.Name }}</td>
          <td>{{ $user.Email }}</td>
          <td>{{ $user.Role }}</td>
          <td>
            <table class="col-12">
              <tr>
                <td style="border: none;">
                  <form action="/user/update" method="post" class="form-horizontal" role="form" enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="id" id="id" value="{{ $user.ID }}">
                  <input type="hidden" name="updatedata" id="updatedata" value="true">
                  <button type="submit" class="btn btn-sm btn-block btn-outline-primary"> 更新 </button>
                  </form>
                </td>
                <td style="border: none;">
                  <form action="/user/delete" method="post" class="form-horizontal" role="form" enctype="application/x-www-form-urlencoded">
                  <input type="hidden" name="id" id="id" value="{{ $user.ID }}">
                  <button type="submit" class="btn btn-sm btn-block btn-outline-primary"> 删除 </button>
                  </form>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
</div>

{{template "footer"}}