{{ define "header" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>{{ .title }}</title>

    <!-- Bootstrap core CSS -->
<link href="/web/assets/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/web/assets/pricing.css" rel="stylesheet">
  </head>
  <body>

<form action="/user/search" method="get">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">后台管理</h5>
  <div class="row">
    <div class="col-lg-8">
      <input type="text" class="form-control" placeholder="Search" name="searchKey" id="searchkey"/>
      <input type="hidden" class="form-control" name="searchKeyOpt" id="searchKeyOpt" value="or"/>
    </div>
    <div class="col-lg-4">
      <button type="submit" class="btn btn-default">搜索</button>
    </div>
  </div>

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">首页</a>
    <a class="p-2 text-dark" href="/users">用户</a>
  </nav>
  <a class="btn btn-outline-primary" href="/logout">Logout</a>
</div>
</form>

<div class="row" style="margin:0px">
  <div class="col-lg-2 border-right" style="border-right: 1px solid rgba(0,0,0,.5);">
    <ul class="align-items-center nav navbar-nav">
      <li> <a href="/users" target="gin-iframe"> 用户列表 </a> </li>
    </ul>
  </div>

  <div class="col-lg-10">


{{end}}